<div class="input-group">
  <button class="btn btn-outline-success"
          type="button"
          id="button-minus"
          [disabled]="isMinValue"
          (click)="onMinusClick()">
    <i class="bi bi-dash-circle"></i>
  </button>
  <button class="btn btn-outline-success"
          [disabled]="value === 0 || !pickable"
          (click)="onNumberPicked()">
    {{pickerText}}
  </button>
  <button class="btn btn-outline-success"
          type="button"
          id="button-plus"
          [disabled]="isMaxValue"
          (click)="onPlusClick()">
    <i class="bi bi-plus-circle"></i>
  </button>
</div>
