<p>
  <button type="button"
          class="btn btn-outline-primary"
          (click)="collapse.toggle()"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample">
    <span *ngIf="isCollapsed">Create worker</span>&nbsp;
    <i [ngClass]="isCollapsed ? 'bi bi-caret-down-fill' : 'bi bi-caret-up-fill'"></i>
  </button>
</p>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <div class="card">
    <div class="card-body">
      <h2>Create a new worker</h2>

      <!-- Error alert area -->
      <div *ngIf="errMessage" class="alert alert-danger">
        {{errMessage}}
      </div>

      <!-- User created successfuly TOAST area -->
      <div class="text-center"
           *ngIf="isUserCreated">
        <ngb-toast [ngClass]="['bg-success', 'text-white']">
          <i class="bi bi-hand-thumbs-up"></i>
          <br />
          Worker was created successfully.
        </ngb-toast>
      </div>

      <form #createUserForm="ngForm"
            (ngSubmit)="onCreateUser(createUserForm)">
        <div class="form-group">
          <label for="inputName">Name *</label>
          <input class="form-control"
                 id="inputName"
                 placeholder="Enter worker name"
                 name="name"
                 #name="ngModel"
                 appForbiddenName
                 ngModel
                 required>
          <!-- name validation -->
          <div *ngIf="name.invalid && (name.dirty || name.touched)"
               class="text-danger mt-1"
               role="alert">
            <div *ngIf="name.errors?.['required']">
              Name is required.
            </div>
            <div *ngIf="name.errors?.['forbiddenName']">
              Name already exists.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail">Email address *</label>
          <input class="form-control"
                 id="inputEmail"
                 aria-describedby="emailHelp"
                 placeholder="Enter email"
                 name="email"
                 #email="ngModel"
                 ngModel
                 required
                 email>
          <!-- email validation -->
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
               class="text-danger mt-1"
               role="alert">
            <div *ngIf="email.errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="email.errors?.['email']">
              Invalid email address.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword">Password *</label>
          <input type="password"
                 class="form-control"
                 id="inputPassword"
                 placeholder="Enter password"
                 name="password"
                 #pass="ngModel"
                 ngModel
                 required
                 minlength="6">
          <!-- pass validation -->
          <div *ngIf="pass.invalid && (pass.dirty || pass.touched)"
               class="text-danger mt-1"
               role="alert">
            <div *ngIf="pass.errors?.['required']">
              Password is required.
            </div>
            <div *ngIf="pass.errors?.['minlength']">
              Password must be at least 6 characters long.
            </div>
          </div>
        </div>

        <button class="d-block mt-3 btn btn-primary"
                [disabled]="createUserForm.invalid">Create</button>
      </form>
    </div>
  </div>
</div>

